.container{
    margin:auto;
    border: blue 2px solid;
    height: 900px;
}
header{
    height: 15%;
    text-align: center;
    border: greenyellow 2px solid;
}
.bordes1{
    border: greenyellow 2px solid;
}
footer{
    background-color:aqua ;
    text-align: right;
}
.main{
    height: 75%;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    border: red 2px solid;
}
.mainIZ{
    border: grey 2px solid;
    width: 10%;
    height: 100%;
}
.main2>p{
width: 60px;
border: grey 2px solid;
}
.bloqueMedio{
    border: orange 2px solid;
    width: 100%;
}
.bloqueTop{
    border: green 2px solid;
    padding: 20px;
    height: 20%;
}
.bloqueMid{
    height: 40%;
    border: black 2px solid;
}
.bloqueMidMid{
    display: flex;
}
.bloqueMidMid>div{
    border: orchid 2px solid;
    margin: auto;
}
.bloqueBot{
    border: green 2px solid;
    height: 100%;
    /*display: inline-block;*/

}



